
@font-face {
    font-family: Miserable;
    src: url(./caslon-antique/CaslonAntique.ttf);
}

@font-face {
    font-family: Miserable;
    src: url(./caslon-antique/CaslonAntique-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Miserable;
    src: url(./caslon-antique/CaslonAntique-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Miserable;
    src: url(./caslon-antique/CaslonAntique-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}